<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDB71ZICPRsv0epgT9s-OMFxc1auxSM1XE</string>
	<key>GCM_SENDER_ID</key>
	<string>791750681782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hasib.org.ChitChat</string>
	<key>PROJECT_ID</key>
	<string>chitchat-b1b3e</string>
	<key>STORAGE_BUCKET</key>
	<string>chitchat-b1b3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791750681782:ios:9df7da7e5e8cea9ffb7217</string>
</dict>
</plist>